body {
  margin: auto;
  
  color: grey;
  
}

.jumbotron {
    background-color: black;

  }

      
  .train-img {
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
    
  }

