/* @font-face {
  font-family: "tropical";
  src:url("../assets/images/TropicalAsianDEMO-Regular.ttf") format("truetype");
} */
body {
  margin: auto;
  background-image: url("../assets/images/stripes-light.png");
  color: black;
  justify-content: center;
  /* font-family: "tropical"; */
  font-size: 20px;
  
}
img {
  width: 400px;
  background-color: #ccd8ff;
  padding:5px;
}
.jumbotron {
    background-image: url("../assets/images/stripes-light.png");


  }
.card-header {
  background-color: #ccd8ff;
  color: black;
  text-align: center;
  font-size: 25px;
}

.card {
  font-display: bold;
  color: black;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  
  
}
h1 , .lead {
  padding: 10px;
  font-size: 30px;
}

h1 {
  font-size: 75px;
}
h3 {
  padding: 10px;
  font-size: 30px;
}
      
 